.titulo__form {
  font-size: 1.5rem;
  padding: 4rem 2rem 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
}

.principal__titulo {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 1 / 6;
  font-weight: 500;
}

.grid a {
  display: flex;
  justify-content: center;
  grid-area: 1 / 6 / 1 / 6;
  padding: 3px;
}


.principal__subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--rosa-escuro);
}